[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "thirdparty/ade"]
	path = thirdparty/ade
	url = https://github.com/opencv/ade
