language: cpp
dist: focal
compiler: gcc

notification:
    email: false

sudo: required

jobs:
  include:
    - stage: debug
      script:
        - mkdir build
        - cd build
        - cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_FLAGS="-fsanitize=address -fsanitize=leak" -DDOWNLOAD_DATA=OFF ..
        - make -j8
        - find ./bin/ -name '*tests' -type f -executable | while read fname; do $fname; done;
    - stage: release
      script:
        - mkdir build
        - cd build
        - cmake -DCMAKE_BUILD_TYPE=Release ..
        - make -j8
        - find ./bin/ -name '*tests' -type f -executable | while read fname; do $fname; done;
    - stage: samples
      script:
        - mkdir build
        - cd build
        - cmake -DCMAKE_BUILD_TYPE=Release ..
        - make -j8
        - export DW_BUILD_PATH=build
        - export DATASETS_DIR=datasets
        - cd ../
        - ./samples/mnist/run_mnist_train.sh
        - ./samples/mnist/run_mnist_test.sh
        - ./samples/mnist/run_cifar10_train.sh
        - ./samples/mnist/run_cifar10_test.sh
    - stage: benchmarks
      script:
        - mkdir build
        - cd build
        - cmake -DCMAKE_BUILD_TYPE=Release ..
        - make -j8
        - export DW_BUILD_PATH=build
        - export DATASETS_DIR=datasets
        - cd ../
        - ./benchmarks/mnist/run_mnist_benchmark.sh
